h1
{
    text-align: center;
    background-color: cornflowerblue;
    margin-top: 0%;
}
.center{
    
    background-color: darkgrey;
    padding: 50px 100px;
    border:2px solid rgba(0,0,0,1);
    
    
}
label
{
    text-align: center;
    margin-left: 50%;
   
}
input{
    border-bottom: 5px solid ;
    display: block;
    
    width: 50%;
    font-size:14;
    line-height: 4* 2;
    margin-left: 25%;
    margin-bottom: 14 * 2;
    border: none;
    border-bottom: 5px solid rgba(0,0,0,1);
  
    min-width: 250px;
  
    outline: none;
    color: rgba(0,0,0,1);
}
.submit_button
{
    margin-left: 50%;
}
.completed_button
{
    margin:auto;
}
.tudu_list
{
    text-align: center;
    background-color: cornflowerblue;

}